.weather-app,
.footer {
  max-width: 800px;
  font-family: Arial, Helvetica, sans-serif;
}
.weather-app {
  background-color: #fff;
  border-radius: 16px;
  padding: 40px;
  margin: 60px auto;
}
.footer {
  margin: 0 auto;
}
#icon {
  margin: 10px 0;
  font-size: 40px;
  position: relative;
  top: -12px;
}
#button {
  background-color: #885df1;
  border: solid 1px darkgray;
}
.temp .number {
  color: #212121;
  font-weight: 400;
  font-weight: 700;
  font-size: 80px;
}
.temp {
  text-align: right;
}
.unit {
  color: #212121;
  font-size: 28px;
  font-weight: 400;
  position: relative;
  top: -34px;
}
.day,
.conditions,
#description {
  font-weight: 500;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 25px;
  text-transform: capitalize;
}

.humidity,
.wind {
  color: #885df1;
}

h1 {
  color: #272142;
  font-weight: 700;
  font-size: 38px;
}
body {
  background-color: #f9f7fe;
}
